{
  "extends": "airbnb",
  "rules": {
    "max-len": ["warn", 256],
    "no-console": 0,
    "no-param-reassign": 0,
    "react/prop-types": 0
  },
  "globals": {
    "document": true,
    "window": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    },
    "react": {
      "pragma": "Inferno"
    }
  }
}
