@import 'variables';

$font-family: $font-family--regular;

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  background: #eee;
  font-family: $font-family;
}
