@import 'variables';

$background: $color--emphasis;

.ExampleOrganism {
  display: flex;
  flex-direction: row;

  &__tab {
    flex: 1;

    .ExampleButton {
      // This is the maximum indentation level
      width: 100%;
    }

    &--active {
      background: $background;
    }
  }
}
