.SearchInput {
  position: relative;

  .TextInput__input {
    padding-right: 2em;
  }

  &__submit {
    font-size: 1em;
    position: absolute;
    top: 50%;
    right: .5em;
    transform: translateY(-50%);
    background: none;
    border: none;
  }
}
