/* Do not forget to import the font files in `app.jsx` */

@font-face {
    font-family: 'RobotoRegular';
    src: url('/assets/fonts/roboto/regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/assets/fonts/roboto/bold.ttf');
    font-weight: normal;
    font-style: normal;
}
