// Add global normalizing CSS here

* {
  box-sizing: border-box;
}

html, body, #root, .App {
  margin: 0;
  font-family: 'RobotoRegular';
  background: #eee;
  width: 100vw;
  height: 100vh;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
