$font-family--regular: 'RobotoRegular', 'Arial', sans-serif;
$font-family--bold: 'RobotoBold', 'Arial', sans-serif;

$width--tablet: 768;
$width--desktop: 980;
$width--widescreen: 1180;

$color--text: #333333;
$color--background: #EEEEEE;
$color--emphasis: #F6D68D;
$color--secondary: #E2007A;

$color--alt-text: #FFFFFF;
$color--alt-background: #333333;

$font-size--regular: 1rem;
$font-size--title: 1.5rem;

$transition: .5s ease-in-out;
